@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.App{
  height: 100vh;
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}